# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/
dist-ssr/

# Misc
.DS_Store
*.pem
*.log

# Debug
npm-debug.log*

# Database
*.db
*.db-journal
*.db-wal

# Build
server/build/
api
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Turbo
.turbo/

# IDEs
.vscode/
.idea/

# Binaries
api
*.exe
*.o
*.s
*.a
*.out
*.so
*.dylib
*.dll

# Docker
.dockerignore

server/_deps_cache/
